<h1><%= @work.title %></h1>
<h3>Created By: <%=@work.created_by %></h3>

<div>Published: <%=@work.published %></div>

<div>Description: <%=@work.description%></div>

<nav>
  <%= link_to "Back to Media Ranks", works_path%>
  <%= link_to "Edit", edit_work_path(@work.id)%>
  <%= link_to "Upvote", class: "btn btn-success" %> <%#this will work once I have a path #%>
  <%= link_to "Delete", work_path(@work.id), class: "btn btn-danger"%>
</nav>

<h4><%=@work.upvotes%> votes for this <%=@work.media%> </h4>
